@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  padding: 8px;
  border-radius: 4px;

  background: rgb(245, 245, 245);
}

button {
  transition: all;
  padding: 8px;
  border-radius: 4px;
  width: 200px;
  color: white;
  background: rgb(61, 61, 61);
}

button:hover,
a:hover {
  transition: all;
  opacity: 80%;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
