@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  font-family: monospace;
  width: 250px;
  outline: none;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 5px;
  background-color: #c5c5c5;
  transition: 0.3s;
  color: #313131;
}

input:focus {
  border: 1px solid #63636350;
  box-shadow: 0 0 0 2px #494949;
}

input::placeholder {
  color: black;
}

input::placeholder {
  color: white;
}
button {
  color: #090909;
  padding: 0.4em 1.4em;
  font-size: 18px;
  border-radius: 0.5em;
  width: 200px;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 4px 4px 6px #868686, 6px -6px 12px #ffffff;
}

.button-form-back {
  color: #fff;
  padding: 0.4em 1.4em;
  font-size: 18px;
  border-radius: 0.5em;
  width: 200px;
  background: #292929;
  border: none;
  transition: all 0.3s;
  box-shadow: none;
}

.button-form-register {
  color: #fff;
  padding: 0.4em 1.4em;
  font-size: 18px;
  border-radius: 0.5em;
  width: 200px;
  background: #5d925c;
  border: none;
  transition: all 0.3s;
  box-shadow: 4px 4px 6px #868686, 6px -6px 12px #cacaca;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button-delete {
  color: #fff;
  padding: 0.5em 0em;
  font-size: 18px;
  border-radius: 0.5em;
  width: 30px;

  background: #e44848;
  border: none;
  transition: all 0.3s;
  box-shadow: 4px 4px 6px #868686, 6px -6px 12px #ffffff;
}
button:hover,
a:hover {
  transition: all;
  opacity: 80%;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-edit {
  color: #fff;
  padding: 0.5em 0em;
  font-size: 18px;
  border-radius: 0.5em;
  width: 60px;

  background: #5f570d;
  border: none;
  transition: all 0.3s;
  box-shadow: 4px 4px 6px #868686, 6px -6px 12px #ffffff;
}

.wave-group {
  position: relative;
}

.wave-group input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group input:focus {
  outline: none;
}

.wave-group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.formEdit input {
  display: flex;
  flex-direction: column;
  width: 400px;
}

label {
  text-align: start;
  font-size: 22px;
  color: rgb(41, 41, 41);
}
@media (max-width: 900px) {
  .formEdit input {
    width: 80vw;
  }

  input {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .formEdit {
    padding-bottom: 20px;
  }
}
